*{
  text-decoration: none;
  list-style-type: none;
  overflow-x: hidden;
  box-sizing: border-box;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active-link{
  color: chocolate;
  transition: .3ms;
  transform: scale(1.3);
}
.ul-ul{
  display: flex;
  background: #61dafb;
  flex-direction: column;
}
.div-posts{
  display: flex;
  flex-direction: column;
  gap: 30px;

}
.container{
  max-width: 1440px;
  margin: 0 auto;
}